# $schema: https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Tailscale 台灣
site_url: https://tailscale.tw
repo_name: tailscale-tw/tailscale.tw
repo_url: https://github.com/tailscale-tw/tailscale.tw
edit_uri: edit/main/docs/

theme:
  name: material
  language: zh-TW
  icon:
    repo: fontawesome/brands/github-alt
  features:
    - content.code.copy
    - navigation.tabs
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to system preference

plugins:
  - blog
  - search

nav:
  - Home: index.md
  - PVE(Proxmox Virtual Edition):
      - pve/index.md
      - 憑證自動更新: pve/auto-renew-tailscale-certificate-on-pve.md
  - Synology:
      - synology/index.md
      - 在 Synology NAS 上安裝 Tailscale 憑證方法: synology/install-tailscale-certificate-on-synology.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences