# $schema: https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Tailscale 台灣
site_url: https://tailscale.tw
repo_name: tailscale-tw/tailscale.tw
repo_url: https://github.com/tailscale-tw/tailscale.tw
edit_uri: edit/main/docs/

theme:
  name: material
  language: zh-TW
  icon:
    repo: fontawesome/brands/github-alt
  features:
    - content.code.copy
    - navigation.tabs

plugins:
  - blog

nav:
  - Home: index.md
  - PVE(Proxmox Virtual Edition):
      - pve/index.md
      - 憑證自動更新: pve/auto-renew-tailscale-certificate-on-pve.md

